@media (min-width:1025px) and (max-width:1275px) {
    .nav h2 {
        font-size: 3.7vw;

    }

    .nav_options h4 {
        font-size: 1.3vw;

    }

    .left {
        padding: 6vw 5vw;
    }

    .left h1 {

        font-size: 5.5vw;
        line-height: 5.8vw;

    }

    .left p {
        font-size: 1.5vw;
        margin-top: 2.5vw;
        margin-bottom: 3.5vw;
    }

    .right {

        padding: 5vw 2vw;
    }
}

@media (min-width:875px) and (max-width:1025px) {
    .nav h2 {
        font-size: 3.9vw;

    }

    .nav_options h4 {
        font-size: 1.5vw;

    }

    .left {
        width: 40%;
        padding: 6vw 5vw;
    }

    .left h1 {

        font-size: 6vw;
        line-height: 6.3vw;

    }

    .left p {
        font-size: 1.6vw;
        margin-top: 2.5vw;
        margin-bottom: 3.5vw;
    }

    .right {
        width: 60%;
        padding: 6vw 2vw;
    }

}

@media (min-width:600px) and (max-width:875px) {
    .nav h2 {
        font-size: 4vw;

    }

    .nav_options h4 {
        font-size: 1.8vw;

    }

    .nav_options button {
        font-size: 1.3vw;
        padding: 0.7vw 1.8vw;
    }

    .left {
        width: 35%;
        padding: 6vw 5vw;
    }

    .left h1 {

        font-size: 6vw;
        line-height: 6.3vw;

    }

    .left p {
        font-size: 1.6vw;
        margin-top: 2.5vw;
        margin-bottom: 3.5vw;
    }

    .left>button {
        font-size: 1.5vw;
        padding: 1.2vw 2.3vw;
    }

    .right {
        width: 65%;
        padding: 6vw 2vw;
    }

}


@media (max-width:600px) {

    .nav {
        width: 100%;
        height: 60px;
        padding: 0 8vw;
    }

    .nav_options i {
        display: initial;
        font-size: 4vw;

    }

    .nav h2 {
        font-size: 8vw;

    }

    .nav_options h4 {
        display: none;
    }

    .nav_options button {
        display: none;
    }

    .content {
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;

    }

    .left {
        width: 100%;
        height: 35%;
        /* background-color: blueviolet; */
        padding: 5vw 8vw;
    }

    .right {
        width: 100%;
        height: 60%;
        /* background-color: rgb(222, 213, 230); */
        padding: 4vw 8vw;
       
    }
    
.left h1{
    font-size: 10vw;
    line-height: 10vw;
 }
 .left p{
     font-size: 3vw;
     
    width: 90%;
    margin-top: 4vw;
    margin-bottom: 5vw;
    
  }
  .left > button{
     font-size: 3.3vw;
     padding: 2vw 4vw;
     border-radius: 5px;
  }
  .right_box{
    width: 100%;
    height: 100%;
}

}